
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,500&family=Open+Sans:ital,wght@0,700;1,300;1,700&family=Poppins:ital,wght@0,200;0,400;1,300&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Poppins', 'Open Sans';
  background-color: #eee;
}